.jewelry {
    &__list {
        display: inline-block;
        padding: 10px;
        &__bling {
            display: inline-flex;
            flex-direction: column;
            padding: 5px;
            border: 1px solid pink;
        }
    }
}